<p>Thank you for submitting your story to <a href="http://projectvoice.org">Project Voice</a>. It will be reviewed and posted anonymously to the site. You will receive an email when your story is posted.</p>

<p>If you have any questions, please contact <a href="mailto:info@projectvoice.org">info@projectvoice.org</a>.</p>
	
<p>~ Project Voice</p>