

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h2>Project Voice Terms of Agreemant</h2>
<p>I grant the producer(s) of Project Voice the right, license and privilege, in perpetuity, to utilize my abortion story in connection with the development, writing, performance, advertising, or distribution of Project Voice in any and all media.</p>
<p>I hereby release and discharge the producer(s) of Project Voice, its employees, agents, licensees, successors and assigns from any and all claims, demands or causes of action that it may have or may hereafter have for libel, defamation, invasion of privacy or right of publicity, infringement of copyright or trademark, or violation of any other right arising out of or relating to any utilization of the rights granted under this agreement.</p>
<p>I agree that the producer(s) of Project Voice shall have the right to vary, change, alter, modify, add to and/or delete from this material, and to use a portion or portions of this material in conjunction with any other literary, dramatic or other material of any kind, unless the material is expressly presented as unchanged from the original.</p>
<p>All rights, licenses and privileges herein granted to the producer(s) of Project Voice are irrevocable and not subject to rescission, restraint or injunction under any circumstances.  Nothing herein shall be construed to obligate the producer(s) of Project Voice to produce, distribute or utilize any of the rights granted herein.</p>
<p>Please check the box to acknowledge that you have accepted the terms of the above, and grant us permission to receive and use your anonymous story.  Thank you.</p>

	</div>
	<div class="col-md-3"></div>

</div>
