
<div class="thanks">
<p class="lead">Thank you for contributing to Project Voice!  We will review your story soon.</p>
<p>Questions?  Contact us: <a href="mailto:info@projectvoice.org">info@projectvoice.org</a></p>
</div>
