<div id="stories">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Country</th>
				<th>State</th>
				<th>Published</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody class="page">
			<%= render @stories %>
		</tbody>
	</table>
	<%= paginate @stories %>
</div>
