

<div class="container">
	<div class="row">

		<div class="col-md-8">

			<h1>Project Voice</h1>

			<p><strong>Project Voice</strong> is undergoing some much needed maintenance.  In the meantime, please feel free to email us your story.  Please include your home country/state, your age, first name and last initial, a photo of your hands, and your story.  Email it to: <a href="mailto:mayapin@gmail.com">mayapin@gmail.com</a>.  We hope to be back up soon.</p>
			<br/><br/>

		</div>
	</div>


	<div class="row">
		<div class="col-md-2"><img class="thumbnail" src="http://s3.amazonaws.com/project_voice/stories/1177/small/345.jpg?1322262276" /></div>
		<div class="col-md-2"><img class="thumbnail" src="http://s3.amazonaws.com/project_voice/stories/1088/small/26.jpg?1322262567" /></div>
		<div class="col-md-2"><img class="thumbnail" src="http://s3.amazonaws.com/project_voice/stories/1079/small/16.jpg?1322261771" /></div>
	</div>


	<div class="row">
		<div class="col-md-8">
			<h3>About the Project</h3>
			<p>Each year, millions of women have abortions, yet many feel secretive and alone in their decision. By bringing together personal stories, Project Voice hopes to establish a resource of sharing and support, and convey that abortion is a choice many women have made, and continue to make, for a variety of reasons. Women of all ages, races, religions, backgrounds, and circumstances have had abortions. The more women who share their stories here, the more accurately Project Voice can represent the multiplicities of abortion experiences.</p>
		</div>
	</div>





</div>

