
<div id="posts_index">
	<div class="row">
		<div class="col-md-12">
			<% @posts.each do |post| %>
				<div class="post">
					<h2><%= link_to post.title, post %></h2>
					<%= simple_format post.body %>
				</div>
			<% end %>
		</div>
	</div>
</div>
