$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', 'Helvetica';

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,300italic,700italic);
@import "font-awesome";



body, html {
	background: #fcfcfc;
}

.thumbnail {
	width: 100%;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


#story_list {
	.story {
		min-height: 400px;
		background: white;
		padding: 20px;
		margin-bottom: 30px;
		a {
			display: block;
			text-decoration: none;
			color: #888;
			&:hover {
				text-decoration: none;
				color: #666;
			}
		}
		p {
			margin: 20px;
		}
		img {
			display: block;
			margin: 20px auto 40px;
		}
	}
}

#story_list_bottom {
	text-align: center;
	padding: 40px 40px 100px;
}


#stories_new {
	p, li {
		margin-right: 60px;
	}
	form {
		margin-top: 30px;
	}
	textarea {
		margin-bottom: 30px;
		height: 200px;
	}
	.hands img {
		margin: 20px;
	}
	.btn-file {
		top: 26px;
	}
	.field {
		margin-bottom: 10px;
	}
}

#stories_show {

	#sidebar_1 {
		.excerpt {
		}
		p {
			color: $gray-light;
			font-weight: 300; 

		}
	}

	#story_header {
		text-align: center;
	}
	.circle-hands-thumb {
		display: block;
		margin: 20px auto;
	}

}

#home_top_side {
	background: white;
	padding: 20px;
}