$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', 'Helvetica';

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,300italic,700italic);
@import "font-awesome";



body, html {
	background: #fcfcfc;
	background: #f8f8f8;

}

.thumbnail {
	width: 100%;
}

.navbar {
	margin-bottom: 0;
}

.nowrap {
	white-space: nowrap;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


#story_list {
	.story {
		min-height: 400px;
		background: white;
		padding: 20px;
		margin-bottom: 30px;
		a {
			display: block;
			text-decoration: none;
			color: #888;
			&:hover {
				text-decoration: none;
				color: #666;
			}
		}
		p {
			margin: 20px;
		}
		img {
			display: block;
			margin: 20px auto 40px;
		}
	}
}

#story_list_bottom {
	text-align: center;
	padding: 40px 40px 100px;
}


#stories_new {
	p, li {
		margin-right: 60px;
	}
	form {
		margin-top: 30px;
	}
	textarea {
		margin-bottom: 30px;
		height: 200px;
	}
	.hands img {
		margin: 20px;
	}
	.btn-file {
		top: 26px;
	}
	.field {
		margin-bottom: 10px;
	}
}

#stories_show {

	#sidebar_1 {
		.excerpt {
			color: $gray;
		}
		p {
			color: $gray-light;
			font-weight: 300; 

		}
	}

	#story_header {
		text-align: center;
	}
	.circle-hands-thumb {
		display: block;
		margin: 20px auto;
	}

}

#home .story {
	text-align: center;
	@media (min-width: $screen-md-min) {
		text-align: left;
	}
}

#story_list_top {
	margin-bottom: 30px;
}

#home_top_side {
	text-align: center;
	background: white;
	padding: 20px;
}

#stories {
	.story > div {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $gray-lighter;
	}
	.story {
		.circle-hands-thumb {
			max-height: 40px;
		}
		.story-date {
			@media (max-width: $screen-md-min) {
				margin-bottom: 15px;
			}

		}
	}
}

#posts_index {
	.date_line {
		
	}
}
.photo_container {
	img {
		display: block;
		max-width: 100%;
	}
}

.stories-index-thumb a {
	display: block;
	width: 40px;
	img {
		display: block;
		width: 100%;
	}
}

#main {
	padding-top: 40px;
	padding-bottom: 60px;
	background: #fcfcfc;

}

nav.prev_next {
	font-weight: 100;
	color: $gray-light;
	a {
	color: $gray-light;
	}
}


#footer {
	.footer-col:last-child {
		// text-align: right;
	}
	a {
		color: $gray-light;
	}
	background: #f8f8f8;
	padding: 60px 0;
}
